In [4]:
!pip install mysql

!pip install mysql-connector-python

Requirement already satisfied: mysql in c:\users\willi\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\willi\anaconda3\lib\site-packages (from mysql) (2.1.1)
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp39-cp39-win_amd64.whl (9.6 MB)
     ---------------------------------------- 9.6/9.6 MB 8.9 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.2/904.2 kB 8.2 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

In [3]:
import mysql.connector

In [15]:
mydb = mysql.connector.connect(
   host="localhost",
   user="William",
   passwd="CartersLegac19"
)

In [22]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E55CBADD60>

In [25]:
mycursor = mydb.cursor(buffered = True)

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)
    
mycursor.execute("USE willdb")
mycursor.execute("SHOW tables")

print('---')

for x in mycursor:
    print(x)

('anewdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('willdb',)
---
('table1',)
('teamstats',)

In [24]:
mycursor.execute("CREATE DATABASE anewdb")

In [43]:
adb = mysql.connector.connect(
   host="localhost",
   user="William",
   passwd="CartersLegac19",
    database = "willdb"
)

mycursor = adb.cursor(buffered=True)

mycursor.execute("SHOW TABLES")

mycursor.execute("desc teamstats")

for x in mycursor:
    print(x)

mycursor.execute("SELECT * from table1")


for x in mycursor:
    print(x)

('emp_id', b'int', 'NO', '', None, '')
('passes', b'int', 'NO', '', None, '')
('goals', b'int', 'NO', '', None, '')
('assists', b'int', 'NO', '', None, '')
(99, 'William')
(12, 'Alex')

In [45]:


twodb = mysql.connector.connect(
   host="localhost",
   user="William",
   passwd="CartersLegac19",
    database = "willdb"
)

mycursor = twodb.cursor(buffered=True)

sql = "SHOW TABLES"


mycursor.execute(sql)

for x in mycursor:
    print(x)

    
sql = "INSERT INTO teamstats (emp_id, passes, goals, assists) VALUES ('102', 25, 2, 5)"

mycursor.execute(sql)
mycursor.execute("SELECT * FROM teamstats")

for x in mycursor:
    print(x)

('table1',)
('teamstats',)
(102, 25, 2, 5)

In [ ]:
import mysql.connector

twodb = mysql.connector.connect(
   host="localhost",
   user="William",
   passwd="CartersLegac19",
    database = "willdb"
)

mycursor = twodb.cursor(buffered=True)
mycursor.execute("SELECT * FROM teamstats")
        
fulldata = mycursor.fetchall()        

for y in fulldata:
    print(y)  

while True:
    print('continue? yes: 1, no: 0')
    x = str(input())
    
    if x == '0':
        break
    elif x == '1':
        print('Whats the id?')
        id = input()

        print('How many passes?')
        passes = input()
    
        print('How many goals?')
        goals = input()
    
        print('How many assists?')
        assists = input()
    
        sql = "INSERT INTO teamstats (emp_id, passes, goals, assists) VALUES (" + id + "," + passes + "," + goals + "," + assists + ")"
        mycursor.execute(sql)
        twodb.commit()

    else:
        print('invalid command, try again')
        continue

continue? yes: 1, no: 0

In [ ]:
mycursor.executemany(sql, value)